body{
    background-color: rgb(231, 229, 229);
}
.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 16;
    margin-top:2%;
  }
  .carousel-inner > .carousel-item > img {
    height: 100vh;
  }
  #details{
      margin-top:-8%;
  }
  #details img{
      height: 190px;
  }
  #card-wrap .card{
       border:0px;
       margin-left:25px;
       margin-right:25px;
  }
  .card1{
      background-color: rgba(170, 170, 2, 0.973);
  }
  .card2{
      background-color: rgb(76, 247, 181);
  }
  .card3{
      background-color: rgb(50, 138, 252);
  }
  
  #area .area-wrap{
        padding-top:6%;
        padding-bottom: 6%;;
        background-color: rgb(110, 252, 54);
  }

  #area .card{
      background-color: transparent;
      border:0px;

  }
  #area .card .fa{
      background: rgb(207, 206, 206);
      padding:20px 15px 20px 15px;
      border-radius: 50%;;
  }
  #area .card p{
      margin-bottom:0px;
  }

  #menu .card{
      border:0px;
  }

#menu .card:hover
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
#menu .card:before, #menu .card:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 5px rgba(0,0,0,0.3);
    -moz-box-shadow:0 0 5px rgba(0,0,0,0.3);
    box-shadow:0 0 5px rgba(0,0,0,0.3);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
#menu .card:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
 

#menu .menu-title{
    margin-bottom: 5%;
    margin-top:5%;

}
#testimonial{
    background-color: rgb(95, 92, 92);
   padding-top:30px;
   padding-bottom: 30px;
}
#testimonial .card{
    border:0px;
    background-color: transparent;
    color:white;
    
}
#testimonial .card img{
    border-radius: 50%;
    width:90%;
    height:70%;
}
footer{
    background-color: rgb(39, 38, 38);
    color:white;
}
/* about us page styles */

.overlay{
    background-image: url(../img/img5.png);
    background-size:100% 100%;
    height:300px;
    
}

#about .about_img img{
    border-radius: 50%;
}
/* end about us page styles */

/* menu page styles  */

.overlay1{
    background-image: url(../img/img4.jpg);
    background-size:100% 100%;
    height:300px;
    
}
#item_rate .card{
    border:none;
}

/* end menu page styles */

/* menu single page styles */

.overlay2{
    background-image: url(../img/img3.png);
    background-size:100% 100%;
    height:300px;
    
}
#single_menu .card{
    background-color: transparent;
    border: 0px;
}

/* end menu single page styles */

/* gallery styles */

.overlay3{
    background-image: url(../img/img3.png);
    background-size:100% 100%;
    height:300px;
    
}



.btn:focus, .btn:active, button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
  }
  
  #image-gallery .modal-footer{
    display: block;
  }
  
  .thumb{
    margin-top: 15px;
    margin-bottom: 15px;
  }
/* end gallery styles */


/* contact page styles */

.overlay4{
    background-image: url(../img/img4.jpg);
    background-size:100% 100%;
    height:300px;
    
}


/* end contact page styles */

/* contact page styles */

#contact .card:hover{
    -o-transition:.8s;
    -ms-transition:.8s;
    -moz-transition:.8s;
    -webkit-transition:.8s;
    transition:.8s;
    box-shadow: 10px 10px 5px #888888;
  }

/* end contact page styles */